body
{
    font-family: Trebuchet MS;
    background-color: #EEEEEE;
    margin: auto;
    width: 100%;
}
.background
{
    background-color: #353535;
    border: 3px #202020 solid;
    color: #EEEEEE;
}
h3
{
    font-size: 175%;
    color: #353535;
    text-shadow: 1px 1px 1px #AAAAAA;
}
.gray-text
{
    color: #353535;
    text-shadow: 1px 1px 1px #AAAAAA;
}