body
{
    font-family: Trebuchet MS;
    background-color: #EEEEEE;
    margin: auto;
    width: 100%;
}
.gray-bg
{
    background-color: #484848;
    border: 3px #252525 solid;
    color: #EEEEEE;
}
h3
{
    font-size: 175%;
    color: #484848;
    text-shadow: 1px 1px 1px #AAAAAA;
}
.gray-text
{
    color: #484848;
    text-shadow: 1px 1px 1px #AAAAAA;
}